*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/******* LOGIN SECTION ********/
.login-section {
    background-color: #fff;
	width: 100%;
	height: 100vh;
}
.quiz-login-form, .admin-login-form, .admin-signup-form{
    max-width: 400px;
    height: auto;
    background-color: rgb(255 255 255 / 76%);
        padding: 0px 10px 15px;
        text-align: center;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #c1bebe;
        box-shadow: 2px 2px 11px 0px #e5e5e5;
}
.login-section input[type="text"], .admin-login-form input[type="email"], [type='password'], .admin-signup-form input[type="text"], [type='email'], [type='password']{
    width: 280px;
    height: 40px;
    margin: 6px auto;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    background: transparent;
}
.login-section input[type="text"]:focus, .admin-login-form input[type="email"], [type='password']:focus, .admin-signup-form input[type="text"], [type='email'], [type='password']:focus{
    border: none;
    border-bottom: 2px solid #d6d6d6;
    font-size: 16px;
    outline: none;
}
.input-error-email, .input-error-password, .input-invalid, .input-error-firstname, .input-error-lastname, .insert-question-errors {
    display: none;
    color: #ef1919;
    font-size: 14px;
}
#login-btn, .admin-login-btn, .admmin-signup-btn {
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #0095f6;
    background-color: #0095f6;
}
.admin-login-btn, .admmin-signup-btn {
    margin-top: 20px;
    padding: 9px 40px;
}
#login-btn a{
    color: #fff;
    text-decoration: none;
}
p.admin-login, .admin-signup {
    cursor: pointer;
    color: #fff;
}
.admin-login-form {
    display: none;
}
/* .admin-signup-form {
    display: none;
} */

/******* QUESTION PANEL *******/

.admin-panel-container{
    background-image: url('../images/question.jpeg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10px 54px;
    display: none;
}
.admin-panel-wrapper {
    float: left;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 30px;
}
.clearfix {
    clear: both;
    display: table;
    content: '';
}
.header>h2, .scoreDetails p{
color: #444444;
}
.header button{
    float: right;
    margin-top: -39px;
    padding: 10px 30px;
    background-color: #0095f6;
    border: 2px solid #0095f6;
    border-radius: 6px;
    color: #fff;
}
#question-update-btn, #question-delete-btn, #question-insert-btn, #clear-result-btn, #question-clear-btn, #question-next-btn, .gotoHome, .viewScore{
	padding: 10px 30px;
    background-color: #0095f6;
    border: 1px solid #0095f6;
    border-radius: 6px;
    color: #fff;
}
#question-update-btn:hover, #question-delete-btn:hover, #question-insert-btn:hover, #clear-result-btn:hover, #question-clear-btn:hover,.edit-btn:hover, #question-next-btn:hover, #login-btn:hover, a.gotoHome:hover
 {
    background-color: #1598edd9;
    cursor: pointer; 
    color: #fff;
}
#question-delete-btn, #question-update-btn {
    display: none;
}
textarea#new-question-text {
    margin: 20px 0px 0px 26px;
    background-color: #afa7a7;    
    width: 260px;
    height: 65px;
    border: 2px solid #d5d7d8;
    border-radius: 3px;
    transition: all 0.4s linear;
}
textarea#new-question-text:focus {
    border: 2px solid skyblue;
    transition: all 0.4s linear;
}
.admin-options-wrapper input:focus {
    border: 2px solid skyblue;
    transition: all 0.4s linear;
}
.admin-options-wrapper input {
    padding: 8px 12px;
    background-color: #afa7a7;
    border: 2px solid #d5d7d8;
    border-radius: 3px;
    margin-top: 10px;
    transition: all 0.4s linear;
}
button#question-insert-btn {
    margin: 22px 0px 0px 18px;
}
button#question-clear-btn {
    float: right;
    margin-top: 30px;
}
.result-container {
    float: right;
}
.clear {
    width: 370px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 12px;
    height: 95vh;
}
.clear>h2 {
    float: left;
    color: #fff;
    margin-top: 2px;
}button#clear-result-btn {
    margin-left: 121px;
}
button{
	outline: none;
}
button:hover {
    background-color: #0095f6;
    cursor: pointer;
    color: #000;
}
.clearfix-left{
    content: '';
    display: table;
    clear: left;
}
/*Question List Container*/
.inserted-questions-wrapper {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 30px;
    margin-top: 20px;
}
.inserted-questions-wrapper button {
    float: right;
    padding: 4px 20px;
    background-color: transparent;
    border: 2px solid #ff9800;
    border-radius: 39px;
    color: #fff;
    margin-top: -4px;
}
.inserted-ques-text {
    color: #fff;
}
.inserted-questions-wrapper p {
    border: 2px solid #ff9800;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #6b6969;
}
.inserted-questions-wrapper p:hover {
    background-color: #313030;
}

/***********  Quiz Question Text **********/
.quiz-panel-wrapper {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
}
.quiz-panel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 76%);
    max-width: 600px;
    width: 100%;
    padding: 25px 10px;
    border-radius: 6px;
    border: 1px solid #c1bebe;
    box-shadow: 2px 2px 11px 0px #e5e5e5;
    height: auto;
}

.quiz-panel-container .header h2 {
    margin-top: 0;
    border-bottom: 2px solid #d6d6d6;
}
.quiz-wrapper {
    color: #444444;
}
.quiz-question {
    margin-bottom: 20px;
}
.quiz-question span:last-child {
    margin-left: 10px;
}
.quiz-options-container {
    margin-bottom: 35px;
}
.quiz-options-wrapper {
    margin: 15px 0px;
}
/********  Quiz Question Text End *********/

/******* Summary styles ***********/
.summary button {
    display: none;
}
a {
    text-decoration: none;
}
.summary a button {
    width: 132px;
}
.resul-pharase p {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #444444;
}
#question-next-btn {
    display: block;
}
.summary {
    text-align: center;
}
.scoreDetails p:nth-child(1) {
font-size: 20px;
    color: #000000;
}
.indicator {
    display: none;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #333;
    height: 26px;
    margin-bottom: 18px;
    background-color: #1d1511;
}
.fill-indicator {
    width: 0%;
    border-radius: 20px;
    border: 2px solid #0095f6;
    height: 0%;
    /*margin-bottom: -4px;*/
    background-color: #0095f6;
}
.resul-pharase p:first-child {
    margin-bottom: -2px;
}
/*.failed-margin-top {
    margin-top: 32px;
}
*//*.resul-pharase p:last-child a.gotoHome{
    color: #fff;
    margin-left: 5px;
}
*/p.admin-login, .admin-signup {
    cursor: pointer;
    color: #fff;
}
.admin-login-form {
    display: none;
}
/* .admin-signup-form {
    display: none;
} */
.login-with-insta{
    text-align: center;
     color: #727272;
}

@media (min-width: 300px) and (max-width: 767px) {
    .login-with-insta {
           font-size: 16px;
        }
}
